body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpDancers{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.exploding{
  border:40px solid blue;
  border-radius:5px;
  position:absolute;
}


.shakey {
  width: 0px;
  height: 0px;
  border-right: 30px solid transparent;
  border-top: 30px solid yellow;
  border-left: 30px solid yellow;
  border-bottom: 30px solid yellow;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

